
/* RESET */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #ddd;
}

main{
    background-color: white;
    margin: 0 auto;
    width: 90%;
    padding: 20px 10% 20px 10%;
}

.container{
    text-align: center;
}
/* CARD */
.card{
    display: inline-block;
    padding: 10px;
    width: 400px;
}

.image-container {
    width: 100%;
    position: relative;
}

.image-container img{
    width: 100%;
}

.text-container{
    text-align: left;
}

/* TESTI */
.testo_brand{
    font-size: 12px;
}

.testo_nome_prodotto{
    font-size: 16px;
    font-weight: bold;
}

.testo_sconto{
    color: red;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
}

.testo_sconto_barrato{
    font-size: 14px;
    text-decoration: line-through;
    display: inline-block;
}

/* BADGE */
.badge_red{
    font-size: 12px;
    position: absolute;
    background-color: rgb(235, 32, 76);
    color: white;
    font-weight: bold;
    padding: 5px;
    bottom: 25px;
}

.badge_green{
    font-size: 12px;
    position: absolute;
    background-color: rgb(19, 160, 101);
    color: white;
    font-weight: bold;
    padding: 5px;
    left: 40px;
    bottom: 25px;
}

.badge_green_eccezione{
    font-size: 12px;
    position: absolute;
    background-color: rgb(19, 160, 101);
    color: white;
    font-weight: bold;
    padding: 5px;
    left: 0px;
    bottom: 25px;
}

.badge_white{
     background-color: white;
     width: 35px;
     height: 35px;
     position: absolute;
     right: 0;
     top: 15px;
     text-align: center;
     padding-top: 5px;
     font-size: 20px;  
}

/* Hover */
.badge_white:hover{
    background-color: black;
    color: white;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 0;
    top: 15px;
    text-align: center;
    padding-top: 5px;
    font-size: 20px;  
}

.image-container :nth-child(2){
    display: none;
}

.image-container:hover :nth-child(2){
    display: initial;
}

.image-container:hover :nth-child(1){
    display: none;
}
